body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

ul {
    list-style : none;
}
li.item {
    margin: 20px 0;

}
.name {
    line-height: 20px;
    position: relative;
    top: 2px;
}

.close  {
    height: 20px;
    width: 20px;
    border-radius: 50px;
    border: 0;
    background: #FF3D3D;
    line-height: 12px;
    border-bottom: 1px solid #800000;
    margin-right: 10px;
    cursor: pointer;
}

button.close:hover {
    background: #FF5757;
}